# Auto detect text files and perform LF normalization
* text=auto

# Chỉ định C++ là ngôn ngữ chính
*.cpp linguist-detectable=true
*.h linguist-detectable=true
*.c linguist-detectable=false
*.py linguist-detectable=false

